@import './styles/fonts.css';
@import 'tailwindcss';

body {
  font-family: 'Product Sans', sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

@keyframes slideDown {
  from {
    filter: blur(8px);
  }
  to {
    filter: blur(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

button,
a,
input,
select,
.transition-all {
  transition: all 0.2s ease-in-out !important;
}
